<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name=”robots” content=”noai, noimageai”> <!-- I do not consent to my site as well as anything I upload to the internet being datamined. -->
    <meta name="googlebot" content="noindex, nofollow">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  </head>
  <body>
    <header><h1>{{ title }}</h1></header>
    <main>
        <article>{{ content | safe }}</article>
    </main>
    <footer><p>Leafing Thru (c) 2025</p></footer>
  </body>
</html>
